::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .stepper .mat-horizontal-content-container {
  padding-right: 0;
  padding-left: 0;
}

.form {
  width: 100%;
}

.field {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
}

.field:first-of-type {
  padding-top: 24px;
}

.btn-container {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  background-color: #424242;
}

.header {
  background-color: #424242;
  padding: 24px 24px 12px;
  display: flex;
  align-items: center;
}

.title-icon {
  font-size: 20px;
  margin-right: 10px;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  padding: 24px;
  background-color: #7b1fa2;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  &__icon {
    font-size: 30px;
  }

  &__title {
    margin-top: 12px;
  }
}
