<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon class="menu-icon" fontSet="fas" fontIcon="fa-bars"></mat-icon>
  </button>
  <h1>Backoffice</h1>
  <app-spacer></app-spacer>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      class="menu-icon"
      fontSet="fas"
      fontIcon="fa-user-circle"
    ></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="default-hover" mat-menu-item>
      <mat-icon class="menu-icon" fontSet="fa" fontIcon="fa-user"></mat-icon>
      User Useroglu
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon
        class="menu-icon"
        fontSet="fas"
        fontIcon="fa-user-lock"
      ></mat-icon>
      Change Password
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon
        class="menu-icon"
        fontSet="fa"
        fontIcon="fa-sign-out-alt"
      ></mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fullscreen class="nav-container">
  <mat-sidenav #snav mode="side" opened class="nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/application/list">Applications</a>
      <a mat-list-item routerLink=".">Merchants</a>
      <a mat-list-item routerLink=".">Users</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <h1>{{ title }}</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
